h1, h2, h3, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}
h1 {
    font-size: larger;
}
h5 {
    font-size: smaller;
    color: #555;
}
a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

p + p {
    margin-top: 1em;
}

ul {
    list-style: none;
}
.bottom-nav {
    position:fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #6dabd4;
    
    
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    text-align: center;
    padding: 10px;
     

}

img, svg, video {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/*Form*/
input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
}

/* button */
button  {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    cursor: pointer;
    border: #84949e;
}   
/* .bottom-nav button + button {
    margin-left: 20%;
} */
.bottom-nav > * {
    width: 30%;
}
button img {
    width: 30px;
    height: inherit;
}
content {
    padding-left: 60px;
    padding-top: 70px;
}

/* header */
/* Стили для серого блока */
.top-block {
    padding-left: 0;
    padding-top: 0;
    position: fixed;
    background-color: #777b7e; /* Серый цвет */
    height: 50px; /* Высота блока */
    width: 100%; /* Ширина блока на всю ширину экрана */
    z-index: 1000;

}
.main_header {
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    height: 60px; /* Высота хедера */
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between; /* Распределение элементов по горизонтали */
    align-items: center; /* Центрирование элементов по вертикали */
    padding: 0 20px; /* Отступы для внутреннего пространства */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Тень для хедера */
    z-index: 1000; /* Обеспечение видимости хедера над другими элементами */
}
.main_header .placeholder {
    width: 30px; /* Фиксированная ширина для placeholder и иконки */
    height: 30px;
    background-color: #555; /* Цвет заглушки и иконки */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; /* Закругление иконки */
}
.main_header .options_icon {
    width: 22px; /* Фиксированная ширина для placeholder и иконки */
    height: 22px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-right: 40px;
}
.main_header .title {
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
    flex-grow: 1; /* Растягивание заголовка для центрирования */
    padding-left: 10px;
    padding-right: 10px;
}
.options-bar .prod-option {
    display: flex;
    gap: 30px;
} 

.options-bar .prod-option a {
    color: rgb(66, 102, 133);
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-decoration: solid;
}
.options-bar .detail-prod-bar {
    display: flex;
    gap: 30px;
} 

.options-bar .detail-prod-bar a {
    color: rgb(66, 102, 133);
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-decoration: solid;
} 