h1, h2, h3, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

p + p {
    margin-top: 1em;
}

ul {
    list-style: none;
}
.bottom-nav {
    position:fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #7e909b;
    
    
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    text-align: center;
    padding: 10px;
     

}

img, svg, video {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/*Form*/
input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
}

/* button */
button  {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    cursor: pointer;
    border: #84949e;
}   
/* .bottom-nav button + button {
    margin-left: 20%;
} */
.bottom-nav > * {
    width: 30%;
}
button img {
    width: 30px;
    height: inherit;
}