@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Обшие стили */
body {
    
    font-family: "Open Sans", sans-serif;    
    background-color: #f8f9fa;
    font-weight: 400;
    font-size: 16px;

}

.container {
    max-width: 970px;
    padding: 0 15px;
    margin: 0 auto;
    
}
p {
    color: #6A859C;
    line-height: 1.8;

}
.navbar {
    background-color: #6A859C;
    border-bottom: 1px solid #dee2e6;
}
.content {
    padding: 50px;
    padding-top: 100px;
    padding-left: 140px;
    padding-bottom: 70px; /* Отступ для bottom-nav */
    
}
.content-hidden {
    transform: translateX(100%); /* Сдвиг вправо */
    opacity: 0; /* Прозрачность */
}

.bottom-nav .nav-link {
    padding: 25px 0;
}
.sidebar {
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 100;
    top: 0;
    left: -180px;
    background-color: #303030;
    border-right: 1px solid #dee2e6;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    transition: 0.3s;
    padding-top: 60px;
}
.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #000;
    display: block;
    transition: 0.3s;
}
.sidebar a:hover {
    background-color: #f1f1f1;
}
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #ffffff;
    border: none;
    color: #000;
    padding: 10px 15px;
    text-align: left;
}
.openbtn:focus {
    outline: none;
}
.main-content {
    transition: margin-left .3s;
    padding: 16px;
}
.section-title {
    margin: 20px 0;
    font-size: 24px;
    font-weight: bold;
}
.options-bar .movements-bar {
    display: flex;
    gap: 30px;
} 

.options-bar .movements-bar a {
    color: rgb(66, 102, 133);
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-decoration: solid;
} 
