{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="shortcut icon" type="image/svg+xml" href="{% static 'deps/icon/micon.png' %}">
    
    <!--Core CSS-->
    <link rel="stylesheet" href="{% static "deps\css\reset.css" %}">
    <link rel="stylesheet" href="{% static "deps\css\product_items.css" %}">

    <!-- Custom CSS-->
    {% block css %}
        
    {% endblock css %}
    <!--Script jquery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
        
    </style>
</head>
<body>
    <div class="top-block"></div>
    <header class="main_header">
        <div class='placeholder'>
            ☰ 
        </div>
        <div class='title'>
            {{title}}
        </div>
        <div class='options_icon'>
            <img src="{% static "deps/icon/options.png" %}" alt="#">
        </div>
    </header>
    
    <div class='options-bar'>
        {% block option_bar %}
        {% endblock option_bar %}

    </div>
    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>
    <div class="container">
        <div class="bottom-nav">
            <button type="button">
                <a href="{% url "main:index" %}">
                    <img src="{% static "deps/icon/moves_w.png" %}" alt="Движения">
                </a>
            </button> 
            <button type="button">
                <a href="{% url "products:products_list" %}">
                    <img src="{% static "deps/icon/goods_b.png" %}" alt="Товары">
                </a>
            </button>
            <button type="button">
                <a href="#">
                    <img src="{% static "deps/icon/statistic_b.png" %}" alt="Статистика">
                </a>
            </button>
            
            
        </div>
        

    </div>
        
        {% block script %}
        {% endblock script %}
    
</body>
</html>