{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    
    <!--Core CSS-->
    <link rel="stylesheet" href="{% static "static\deps\css\reset.css" %}">
    <!-- Custom CSS-->
    {% block css %}
        
    {% endblock css %}
</head>
<body>
    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>
    <dvi class="bottom-nav">
        <button type="button">Товары</button>
        <button type="button">Статистика</button>
        <button type="button">Движения</button>
    </dvi>
    
</body>
</html>