{% extends "main/base.html" %}
{% load static %}

{% block css %}
        <link href=" {% static "deps/css/style.css" %} " rel="stylesheet">
        <link href=" {% static "deps/css/movement_items.css" %} " rel="stylesheet">
{% endblock css %}

{% block option_bar %}
        <div class='movements-bar'>
                <a href="#">Продать</a>
                <a href="#">Купить</a>
                <a href="#">Оплатить</a>
                <a href="#">Принять</a>
        </div>
{% endblock option_bar %}

{% block content %}
        <div class="content-wrapper">
                <div class="main-content" id="mainContent">
                        {% for movement in movements %}
                                <li class="item">
                                        <a href="{% url "main:detail" movement.id %}">
                                                <p>{{movement.movement_type}} - {{ movement.product.name }}--------{{ movement.created_timestamp|date:"d-m-Y" }}</p>
                                        </a>
                                </li>
                                
                        {% endfor %}
                </div>
        </div> 
{% endblock content %}