{% extends "main/base.html" %}
{% load static %}

{% block css %}
        <link href=" {% static "deps/css/style.css" %} " rel="stylesheet">
        <link href=" {% static "deps/css/product_items.css" %} " rel="stylesheet">
{% endblock css %}

{% block option_bar %}
        <div class='movements-bar'>
                <a href="#">Продать</a>
                <a href="#">Купить</a>
                <a href="#">Оплатить</a>
                <a href="#">Принять</a>
        </div>
{% endblock option_bar %}

{% block content %}
<P>content</P>
<P>content</P>
<P>content</P>
<P>content</P>
<P>content</P>
<P>content</P>
<P>content</P>
<P>content</P>
<P>content</P>
<P>content</P>
<P>content</P>
<P>content</P>
<P>content</P>
<P>content</P>

  
{% endblock content %}