{% extends "main/base.html" %}
{% load static %}

{% block css %}
        <link href=" {% static "deps/css/style.css" %} " rel="stylesheet">
{% endblock css %}

{% block content %}
        
        <div id='content'>
                {% for group, products in tree.items %}
                <p>{{group.name}}</p>
                        {% for product in products %}
                        <p>_{{product}}</p>
                        {% endfor %}
                {% endfor %}
        </div>                
        
{% endblock content %}
