{% extends "main/base.html" %}

{% load static %}

{% block css %}
        <link href=" {% static "deps/css/reset.css" %} " rel="stylesheet">
        <link href=" {% static "deps/css/style.css" %} " rel="stylesheet">
        
        
{% endblock css %}

{% block content %}
  <div class="back_button">
    <a href="{{ request.META.HTTP_REFERER }}">Назад</a>
  </div>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Создать</button>
  </form>
{% endblock %}